body {
  background: #fafafa;
  font-family:'Courier New', Courier, monospace;
  overflow: hidden;
}

.placar {
  /* mostra a pontuacao do jogo */
  position: absolute;
  font-size: larger;
  font-weight: 600;
  bottom: 200px;
  right: 100px;
}

.dino {
  /* ? elemento fica em uma posicao absoluta independente do que tenha em volta */
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  background-image: url('/dinossauro/assets/img/dino.png');
  width: 60px;
  height: 60px;
}

/* ? classe utilizada no js para criar os cactos do jogo */
.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url('/dinossauro/assets/img/cactus.png');
}

.game-over {
  text-align: center;
  color: gray;
  margin: 250px 0;
}

/* define etapas de uma animacao - deslizar para a direita */
@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 50px;
  /* imagem que sera deslizada */
  background-image: url('/dinossauro/assets/img/background.png');
  /* propriedade para repetir o fundo no eixo x */
  background-repeat: repeat-x;
  /* cria uma animacao a cada 600s linear e infinita do keyframe slideright */
  animation: slideright 1500s infinite linear;
  -webkit-animation: slideright 1500s infinite linear;
  width: 100%;
  height: 200px;
}
